<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../../styles/StyleProfilePage.css" />
</head>
<body>
    <header class="header">
        <div class="container-header">
            <div class="logo">
                <a href="/MainPage">
                    <img src="../../images/warm-tavern-logo.svg" alt="warm tavern logo"
                         class="logo-img" width="94" height="94">
                </a>
                <div class="logo-text">Warm Tavern</div>
            </div>
            <div class="navbar">
                <ul class="navbar-menu-one">
                    <li class="menu-item btn">
                        <a href="/SearchBook" class="menu-link">Search book</a>
                    </li>
                    <li class="menu-item btn">
                        <a href="/AdminPage" class="menu-link">Admin page</a>
                    </li>
                </ul>
<!--                <ul class="navbar-menu-two">-->
<!--                    <li class="menu-item btn">-->
<!--                        <a href="/RegPage" class="menu-link">Sign Up</a>-->
<!--                    </li>-->
<!--                    <li class="menu-item btn">-->
<!--                        <a href="/AuthPage" class="menu-link">Sign In</a>-->
<!--                    </li>-->
<!--                    <li class="menu-item btn">-->
<!--                        <a href="/ProfilePage" class="menu-link">Profile</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
    </header>
    <main class="main">
        <section class="profile-section">
            <div class="container-profile-section">
                <div class="avatar-user-profile-supp">
                    <div class="avatar-user-profile">
                        <img src="../../images/User-avatar.png" alt="avatar user" class="avatar-user-img">                    
                    </div>
                </div>
                <div class="name-user">
                    <span class="text-name-user">Name name name</span>
                    <img src="../../icons/edit-name-btn.svg" alt="edit name" class="edit-name-ico edit-ico">
                </div>
                <div class="email-user">
                    <span class="text-email-user">bandanaclawastudio@gmail.com</span>
                    <img src="../../icons/edit-name-btn.svg" alt="edit email" class="edit-email-ico edit-ico">
                </div>
                <div class="delete-user-btn-supp">
                    <div class="buttom-delete-user btn">
                        <a href="#" class="delete-user-link">delete profile</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="comment-section">
            <h2 class="h2-comment-section">Your last comments</h2>
            <ul class="list-comment-section">
                <li class="comment">
                    <div class="card-book">
                        <a href="/" class="card-avatar-link">
                            <div class="card-book-avatar card-book-comment">
                                <img src="../../images/exampleAvatar2.png" 
                                alt="example" class="img-avatar">
                            </div>
                            <div class="card-book-info card-book-info-comment">
                                name book <br>avatar book
                            </div>
                        </a>
                    </div>
                    <div class="comment-body">
                        <div class="comment-info">
                            <img src="../../icons/user-avatar.png" 
                            alt="user-avatar-comment" class="avatar-user">
                            <span class="name-user">Random chel</span>
                            <span class="date-comment">12.23.32 in 12:33</span>
                        </div>
                        <p class="text-comment">
                            norm book
                        </p>
                    </div>
                </li>
                <li class="comment">
                    <div class="card-book">
                        <a href="/" class="card-avatar-link">
                            <div class="card-book-avatar card-book-comment">
                                <img src="../../images/exampleAvatar2.png" 
                                alt="example" class="img-avatar">
                            </div>
                            <div class="card-book-info card-book-info-comment">
                                name book <br>avatar book
                            </div>
                        </a>
                    </div>
                    <div class="comment-body">
                        <div class="comment-info">
                            <img src="../../icons/user-avatar.png" 
                            alt="user-avatar-comment" class="avatar-user">
                            <span class="name-user">Random chel</span>
                            <span class="date-comment">12.23.32 in 12:33</span>
                        </div>
                        <p class="text-comment">
                            norm book
                        </p>
                    </div>
                </li>
                <li class="comment">
                    <div class="card-book">
                        <a href="#" class="card-avatar-link">
                            <div class="card-book-avatar card-book-comment">
                                <img src="../../images/exampleAvatar2.png" 
                                alt="example" class="img-avatar">
                            </div>
                            <div class="card-book-info card-book-info-comment">
                                name book <br>avatar book
                            </div>
                        </a>
                    </div>
                    <div class="comment-body">
                        <div class="comment-info">
                            <img src="../../icons/user-avatar.png" 
                            alt="user-avatar-comment" class="avatar-user">
                            <span class="name-user">Random chel</span>
                            <span class="date-comment">12.23.32 in 12:33</span>
                        </div>
                        <p class="text-comment">
                            norm book
                        </p>
                    </div>
                </li>
            </ul>
        </section>
    </main>

</body>
</html>