@font-face{
    font-family:"Battambang";
    src:url("./fonts/Battambang-Regular.woff2") format("woff2");
    font-weight:300;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:"Battambang";
    src:url("./fonts/Battambang-Bold.woff2") format("woff2");
    font-weight:700;
    font-style:bold;
    font-display:swap;
}
.custom-font{
    font-family:Arial, Helvetica, sans-serif;
}
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 :where(ul[class]) {
   list-style: none;
 }
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 img {
   display: block;
   max-width: 100%;
 }
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   height: 100%;
   scroll-behavior: smooth;
 }
 
 body {
   min-height: 100%;

   line-height: 1.5;
 }

 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 svg * {
   transition-property: fill, stroke;
 }
 
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 body{
   font-family: var(--font-family-base);
   color: var(--color-light);
   font-weight:300;
   font-size:16px;
   line-height:1.75;
   background-image:url(../../images/background.png);
   background-repeat:repeat;
   background-size: 500px;
  }
 a{
   color:var(--color-light);
  font-family:var(--font-family-base);
  text-decoration: none;
}
a:hover{
  color:var(--color-dark-gray);
}
a, 
button,
input,
textarea,
svg * {
  transition-duration:var(--transition-duration);
}
/* root for comment */
:root{
  --comment-avatar-user-size:34px;
  --width-card-comment:65px;
  --height-card-comment:96px;
}
/* root for color */
:root{
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-red: #431818;
  --color-orange:#F7941E;
  --color-gradient-one:#8d028d;
  --color-gradient-two:#270066;
  --color-gradient-three:#e72195;
  --color-gradient-four:#a1da06;
}
/* base root */
:root{
  --font-family-base: 'Battambang', sans-serif;
  --transition-duration:0.2s;
  --contant-inline:0px;
  --contant-inline-comment:38px;
  --filter-panel-width:21%;
}
/* root for button */
:root{
  --border-radius: 190px;
  --border: 1px solid var(--color-orange);
  --border-width:112px;
  --border-heigth:31px;    
  }
/* root for container */
:root{
    --container-width:64%;
    --container-padding-inline:354px;
}
/* root for header */
:root{
  --header-logo-width:270px;
  --header-height:94px;    
}
/* root for card */
:root{
  --width-card-book:130px;
  --height-card-book:192px;
  --cards-panel-width:79%;
  --color-bg-card:var(--color-dark);
  --border-card-hover:2px solid var(--color-orange);
  --border-card-radius-hover:8px;
}  
/* root for gradient */
:root{
  --gradient: radial-gradient(
    var(--color-gradient-one),
    var(--color-gradient-two)
    );
    --gradient-comment: radial-gradient(
      var(--color-gradient-three),
      var(--color-gradient-four)
      );
    }
/* root for adaptiv param */
:root{
  --width-card-sd:55px;
  --height-card-sd:76px;
  --font-small-device:10px;
  --line-height-small-device:10px;
  --font-middle-device:14px;
  --line-height-middle-device:15px;
}
/* root for user avatar */
:root{
  --avatar-width:202px;
  --avatar-height:202px;
}
 .main{
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding-top:74px;
  align-items: center;
 }
 /* header */
.header{
  height:var(--header-height);
  background-color: var(--color-red);
  display:flex;
  justify-content: center;
}
.container-header{
  width: var(--container-width);
  display:flex;
  background-color: var(--color-red);
}
.logo{
  display:flex;
  align-items:center;
}
.navbar{
  flex-grow:2;
  display:flex;
  justify-content:space-between;
  align-items: center;
  column-gap:18px;
}
.navbar-menu-one{
  padding-left:18px;
  display:flex;
  column-gap:18px;
}
.navbar-menu-two{
  display:flex;
  column-gap:18px;
}
/* profile section */
.profile-section{
  width: var(--container-width);
  background-color: var(--color-red);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  row-gap:32px;
  padding:var(--contant-inline);
}
.name-user{
  display: flex;
  justify-content:center;
  align-items:center;
  gap:5px;
}
.container-profile-section{
  display:flex;
  flex-direction:column;
  row-gap:6px;
  font-size: var(--font-middle-device);
  padding-top:10px;
  padding-bottom:10px
}
.avatar-user-profile{
  width:var(--avatar-width);
  height:var(--avatar-height);
  background-image:var(--gradient);
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.avatar-user-profile-supp{
  display:flex;
  justify-content:center;
}
.email-user{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
}
.delete-user-btn-supp{
  display:flex;
  justify-content:center;
  align-items: center;
}
.avatar-user-img{
  width:var(--avatar-width);
  height:var(--avatar-height);
}
/* button */
.btn{
  border: var(--border);
  border-radius:var(--border-radius);
  height: var(--border-heigth);
  width:var(--border-width);
  display:flex;
  justify-content:center;
  background-color:transparent;
  color:var(--color-light);
}
.menu-link{
  cursor: default;
  display:flex;
  justify-content:center;
  align-items:center;
}
.btn:hover{
  background-color: var(--color-orange);
  cursor:default;
}
.delete-user-link{
  display: flex;
  align-items: center;
}
/* comment section */
 .comment-section{
  width:var(--container-width);
  background-color: var(--color-light);
  display:flex;
  flex-direction:column;
  padding: var(--contant-inline-comment);
}
.list-comment-section{
  display:flex;
  flex-direction:column;
}
.h2-comment-section{
  color:var(--color-dark);
}
/* Comment section -> comment*/
  .comment{
    display:flex;
  }
  .comment-body{
    display:flex;
    flex-direction:column;
    gap:7px;
    color:var(--color-dark);
    font-size:13px;
  }
  .comment-info{
    display:flex;
    justify-content:left;
    align-items: center;
    gap:10px;
  }
  .avatar-user{
    width:34px;
    height:34px;  
  }
  .card-book:hover{
    border:var(--border-card-hover);
    border-radius:var(--border-card-radius-hover);
  }
    /* Comment section -> comment -> avatar book*/
    .card-book-avatar.card-book-comment{
      width:var(--width-card-comment);
      height:var(--height-card-comment);
      color:var(--color-dark);
      background-image:var(--gradient-comment);
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
    .card-book-info.card-book-info-comment{
      color:var(--color-dark);
      font-size:var(--font-small-device);
    }
/* Media */
@media(max-width:1242px){
  .logo-text{
    visibility:hidden;
    position:absolute;
  }
  .navbar-menu-one{
    padding:0px;
  }
  .main{
    padding-top:0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  :root{
    --container-width:100%;
    --contant-inline-comment:18px;
  }
}
@media(max-width:768px){
   .btn{
     width: 80px;
     font-size:11px;
   }
   .btn:hover{
    background-color:transparent;
   }
  .card-book:hover{
    border:none;
    border-radius:none;
  }
  :root{
    --contant-inline:18px;
  }
  .card-book-info{
    font-size:var(--font-small-device);
  }
  .p-caption-book{
    font-size:var(--font-small-device);
  }
  .card-book-avatar.card-book-comment{
    width:var(--width-card-sd);
    height:var(--height-card-sd);
  }
  .comment-info{
    column-gap: 6px;
  }
  .card-book-info{
    padding:0px;
    line-height:var(--line-height-small-device);
  }
  .comment-body{
    line-height:var(--line-height-small-device);
  }
  .navbar{
    justify-content:center;
    flex-wrap:wrap;
    column-gap:8px;
  }
  .navbar-menu-one{
    column-gap:8px;
  }
  .navbar-menu-two{
    column-gap:8px;
  }
  .logo-img{
    visibility:hidden;
    position: absolute;
  }
  .btn:hover{
    background-color: transparent;
   }
 }



 
 